RewriteEngine On
RewriteBase /warehouse/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^api/(.+?)/?$ public/index.php [QSA,L]

# Add this line:
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1